@model User

<div class="alert alert-success" role="alert" id="success">
    <h4 class="alert-heading">Successfully!</h4>
    <hr>
    <p>Id: @Model.EntityId</p>
    <p>Status: @Model.Status</p>
    <p>First name: @Model.FirstName></p>
    <p>Last name: @Model.LastName</p>
    <p>Company: @Model.Company</p>
    <p>CountryID: @Model.CountryID</p>
    <p>Country: @Model.Country</p>
    <p>City: @Model.City</p>
    <p>Address: @Model.Address</p>
    <p>Phone: @Model.Phone</p>
    <p>Mobile: @Model.Mobile</p>
    <p>Mobile confirm: @Model.MobileConfirm</p>
    <p>Email: @Model.Email</p>
    <p>Email confirm: @Model.EmailConfirm</p>
    <p>FTP Host: @Model.FTPHost</p>
    <p>FTP Port: @Model.FTPPort</p>
    <p>Zip: @Model.Zip</p>
    <p>lid: @Model.lid</p>
</div>